azure-identity==1.25.1
azure-core==1.35.1
beautifulsoup4==4.14.2
langchain==0.3.27
langchain-community==0.3.21
langchain-core==0.3.79
langchain-openai==0.3.35
langchain-sqlserver==0.1.2
langchain-text-splitters==0.3.11
langgraph==0.6.10
langgraph-prebuilt==0.6.4
openai==2.3.0
pydantic==2.12.0
python-dotenv==1.1.1
pyodbc==5.2.0
SQLAlchemy==2.0.44
tiktoken==0.12.0
typing-extensions==4.15.0